#header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header a {
    color: #222;
    text-decoration: none;
    font-size: 14px;
}

#header a:hover {
	text-decoration: underline;
}

#header div {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#top-left-container {
    padding-left: 5px;
    padding-top: 23px;
    width: 9em;
}

#top-right-container {
    padding-right: 10px;
    padding-top: 23px
}

#top-right-container a {
    margin: 10px;
}

#center {
    margin: 30vh auto 0 auto;
    text-align: center;
    width: 60%;
}

#logo {
    margin: 0 auto 25px auto;
}

.searchBar {
    margin: auto;
    width: 60%;
    height: 5vh;
}

.searchForm {
    justify-content: center;
    align-items: center;
}

.searchButtonsContainer {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.searchForm .btn {
    font-size: 14px;
    color: #3c4043;
    background-color: #f8f9fa;
}

#header .btn {
	color: white;
	background-color: #1a73e8;
	width: 6em;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}